:root,
body,
main,
#app {
  margin: 0;
  padding: 0;
  height: 100%;
}

label[for],
input[type=checkbox],
input[type=radio],
button,
select {
  cursor: pointer;

  &:disabled {
    cursor: not-allowed !important;
  }
}

details {
  width: 100% !important;

  &>summary {
    cursor: pointer;
    width: 100%;
  }
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

button.link-button {
  border: none;
  background-color: #0073ff11;
  color: #5050ef;
  font-size: 1em;
  padding: 0 5px;
  border-radius: 5px;

  &:hover {
    background-color: #0073ff1f;
  }

  &:active {
    background-color: #0073ff17;
  }
}

.disabled {
  cursor: not-allowed !important;

  &:is(label) {
    color: gray;
  }
}

input[type=checkbox] {
  margin: 2px;
  aspect-ratio: 1 / 1;
}

fieldset {
  display: block;
  box-sizing: border-box;
  width: 100%;
  line-height: 0;

  margin: 10px 0 3px 0;
  padding: 0;

  &>legend {
    position: sticky;
    font-size: 0.8em;
    margin-left: 8px;
    text-overflow: ellipsis;
  }

  &>*:last-child {
    background-color: transparent;
    box-sizing: border-box;
    width: 100% !important;
    font-size: 1em;

    margin: 0;
    padding: 10px 10px 5px 10px;

    border: none;
    outline: none;
  }
}


.hint {
  color: darkblue;
  width: fit-content;
  line-height: normal;

  font-size: 0.75rem;
  margin-left: 5px;
}

.warning {
  color: crimson;
}

.line {
  align-items: center;

  &:has(> :nth-child(2)) {
    display: grid;
    grid-template:
      "a b" auto
      ". c" auto / auto 1fr;
    column-gap: 13px;

    &>*:nth-child(1) {
      grid-area: a;
    }

    &>*:nth-child(2) {
      grid-area: b;
    }

    &>*:nth-child(3) {
      grid-area: c;
    }
  }
}

.grid-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  column-gap: 10px;
}

.explanation {
  &::before {
    color: transparent;
    content: "◆ ";
    font-size: 0.7rem;
    margin-left: -5px;
  }

  /* 取得済みのコメントに影響しない項目に付ける */
  &.from-next::before {
    color: indianred;
  }

  /* 他のウィンドウに共有されない項目に付ける */
  &.no-share::before {
    color: indigo;
  }
}